{% extends 'base.html.twig' %}

{% block title %}
   Méteo Stratégia
{% endblock %}

{% block body %}

<h1>Oups ...! </h1>
<p>Votre recherche na pas été validé, les causes sont les suivantes : </p>
<ul>
    <li>La ville recherché n'est pas prise en compte par notre application</li>
    <li>L'orthographe de votre ville n'est pas correct</li>
</ul>

<p>Pour consulter de nouveau la météo de votre ville c'est par <a href="/">ICI</a> !</p>

<h1>Animated Weather Icons</h1>

<!--Nuage plui sun-->
<div class="icon sun-shower">
  <div class="cloud"></div>
  <div class="sun">
    <div class="rays"></div>
  </div>
  <div class="rain"></div>
</div>

<div class="icon thunder-storm">
  <div class="cloud"></div>
  <div class="cloud"></div>
  <div class="lightning">
    <div class="bolt"></div>
    <div class="bolt"></div>
  </div>
</div>

<div class="icon cloudy">
  <div class="cloud"></div>
  <div class="cloud"></div>
</div>

<div class="icon partly cloudy">
  <div class="cloud"></div>
  <div class="cloud"></div>
  <div class="sun">
    <div class="rays"></div>
  </div>
</div>

<div class="icon flurries">
  <div class="cloud"></div>
  <div class="snow">
    <div class="flake"></div>
    <div class="flake"></div>
  </div>
</div>
<!--Sun-->
<div class="icon sunny">
  <div class="sun">
    <div class="rays"></div>
  </div>
</div>

<div class="icon rainy">
  <div class="cloud"></div>
  <div class="cloud"></div>
  <div class="rain"></div>
</div>

<!-- Nuage flocon neige-->
<div class="icon eclaircies">
  <div class="cloud"></div>
<div class="snow">
    <div class="flake"></div>
    <div class="flake"></div>
  </div>
<div class="sun2">
    <div class="rays2"></div>
  </div>
</div>

<div class="icon big rainy">
  <div class="cloud"></div>
  <div class="cloud"></div>
  <div class="rainbig"></div>
</div>


<div class="icon sunny">
  <div class="sun">
    <div class="rays"></div>
  </div>
  <div class="cloud3"></div>
</div>

<div class="icon cloudy go sunny">
  <div class="sun">
    <div class="rays"></div>
  </div>
  <div class="cloud4"></div>
</div>

<div class="icon averses possibles">
  <div class="sun">
    <div class="rays"></div>
  </div>
  <div class="cloud4">
    <div class="rain3"></div>
</div>
{% endblock %}
