{% extends 'base.html.twig' %}

{% block title %}
   Méteo Stratégia
{% endblock %}

{% block body %}
  <div class="content">
    <h1>Oups ... ! </h1>
    <p>Votre recherche na pas été validé, les causes sont les suivantes : </p>
    <p class="alert"> La ville recherchée n'est pas prise en compte par notre application</p>
    <p class="alert"> L'orthographe de votre ville n'est pas correct</p>
    <p>Pour consulter de nouveau la météo de votre ville c'est par <a href="/"><b>ICI</b></a></p>
  </div>
{% endblock %}
